* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#record {
  background-color: red;
  /* Green */
  border-width: medium;
  border-color: black;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  max-width: 50%;
  max-height: 15%;
  border-radius: 50%;
  left: 100px;
  right: 100px;
  position: relative;
}

#stopRecord {
  background-color: green;
  /* Green */
  border-width: medium;
  border-color: black;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  max-width: 50%;
  max-height: 15%;
  border-radius: 50%;
  left: 100px;
  right: 100px;
  position: relative;
}

h2 {
  left: 100px;
  position: relative;
}

#recordedAudio {
  left: 100px;
  right: 100px;
  position: relative;
}

#msg {
  visibility: hidden;
  color: red;
  font-weight: bold;
  font-size: 22px;
  font-family: Verdana;
}

button {
  padding: 5px 10px;
  border: 1px solid grey;
  font-size: 18px;
  background: white;
}

.audio-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  justify-content: center;
  visibility: hidden;
}

.audio-controls button {
  margin: 0px 5px;
}

canvas {
  margin-top: 10px;
  background-color: black;
}

select {
  height: 25px;
  margin: 0px 5px;
}

a {
  margin-left: 20px;
}

.app {
  text-align: center;
}

.langselect {
  width: 100vw;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgba(67, 73, 75, 0.938);
  margin-top: 0px;
}

.createsession {
  border: none;
  background-color: rgb(32, 179, 93);
  height: 70%;
  border-radius: 5px;
  margin: 10px;
}
.endsession {
  border: none;
  background-color: rgb(218, 104, 89);
  height: 70%;
  border-radius: 5px;
  margin: 10px;
}
.lang {
  width: 20vw;
  font-size: large;
}

#visSelect {
  display: none;
}

.translated {
  width: 100vw;
  height: 70vh;
  background-color: rosybrown;
}

.controls {
  width: 100vw;
  height: 20vh;
  display: flex;
  flex-direction: row;
}

.staff_audio_control {
  height: 100%;
  width: 50%;
  background-color: aqua;
}

.customer_audio_control {
  height: 100%;
  width: 50%;
  background-color: gray;
}

#msg_staff {
  visibility: hidden;
}

#msg_cust {
  visibility: hidden;
}
