<!DOCTYPE html>
<html>

<head>
    <title>Orderse</title>
    <link rel="stylesheet" href="home.css">
</head>

<body>

    <header>
        <div class="container">

            <h1 class="logo">Orderse</span></h1>

            <nav class="site-nav">
                <ul>
                    <li><a href=""><i class="fa fa-home site-nav--icon"></i>Home</a></li>
                    <li><a href=""><i class="fa fa-usd site-nav--icon"></i>Pricing</a></li>
                    <li><a href="/home"><i class="fa fa-envelope site-nav--icon"></i>Login</a></li>
                </ul>
            </nav>

            <div class="menu-toggle">
                <div class="hamburger"></div>
            </div>

        </div>

    </header>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../frontend/navbar.js"></script>

</body>

</html>